@font-face {
  font-family: 'GillSans';
  src: url("../fonts/gillsans-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/gillsans-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gillsans-webfont.woff") format("woff"), url("../fonts/gillsans-webfont.ttf") format("truetype"), url("../fonts/gillsans-webfont.svg#svgFontName") format("svg"); }

* {
  margin: 0;
  padding: 0; }

li, a, p, span, button {
  font-family: "GillSans", sans-serif; }

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none; }

input, select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 18px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  width: 100%;
  border: none; }

button {
  background-color: #7D0622;
  padding: 10px;
  color: #fff !important;
  float: right;
  border: none;
  font-family: "GillSans", sans-serif !important; }

.no-margin {
  margin: 0px !important; }

.initial-loading {
  max-width: 300px;
  margin-left: -150px;
  width: 100%;
  height: 200px;
  margin-top: -100px;
  line-height: 100px;
  top: 50%;
  position: absolute;
  left: 50%;
  text-align: center;
  font-size: 40px;
  font-family: "GillSans", sans-serif; }

.logo {
  display: block;
  margin: 40px auto; }

nav#top-bar {
  width: 100%;
  height: 40px;
  background-color: #ededed;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }
  nav#top-bar ul {
    display: inline-block;
    width: 100%; }
  nav#top-bar a {
    float: right;
    line-height: 40px;
    height: 40px;
    border-left: 1px solid #e0e0e0;
    cursor: pointer;
    color: #848484;
    padding: 0px 14px; }
  nav#top-bar a.logout {
    padding: 0 30px 0 20px; }
  nav#top-bar .notifications {
    margin-top: 9px; }
  nav#top-bar a.logout:hover {
    background-color: #ddd; }
  nav#top-bar a.logout i {
    padding: 0px 5px; }

.form-group {
  display: inline-block;
  width: 100%; }

.spinner {
  width: 100%;
  background-image: url("../img/default.gif");
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100px;
  display: inline-block; }

.login-logo-wrap {
  display: inline-block;
  background-color: #b00930;
  width: 100%;
  min-height: 200px;
  text-align: center; }
  .login-logo-wrap .login-logo {
    display: inline-block;
    width: 100%;
    clear: both; }
    .login-logo-wrap .login-logo img {
      display: block;
      margin: 0 auto;
      background-color: #b00930;
      padding: 20px; }

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 20px auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }
  .form-signin input[type="email"] {
    margin-bottom: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; }
  .form-signin input, .form-signin button {
    clear: both;
    display: inline-block;
    width: 100%; }
  .form-signin button {
    background-color: #b00930; }
  .form-signin button:hover, .form-signin button:active, .form-signin button:visited {
    background-color: #b00930; }
  .form-signin .form-control {
    position: relative;
    height: auto;
    font-size: 16px; }
  .form-signin h2 {
    font-size: 14px; }

.dashboard-home-wrapper {
  float: left; }

left-nav {
  float: left;
  width: 15%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block; }
  left-nav #left-nav {
    background-color: #b00930;
    float: left;
    height: 100%;
    width: 100%; }
    left-nav #left-nav ul {
      width: 100%;
      display: inline-block; }
    left-nav #left-nav li {
      display: inline-block;
      width: 100%;
      border-bottom: 1px solid;
      border-color: #9a0000;
      cursor: pointer; }
    left-nav #left-nav li i {
      display: inline-block;
      width: 20px;
      margin-left: 10px;
      color: #fff;
      margin-top: 5px; }
    left-nav #left-nav li a {
      padding: 10px 20px 10px 10px;
      display: inline-block;
      color: #fff;
      font-size: 13px;
      text-decoration: none;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box; }
    left-nav #left-nav ul li:first-child {
      border-top: 1px solid;
      border-color: #9a0000; }
    left-nav #left-nav li:hover {
      background-color: #9a0000; }
    left-nav #left-nav ul.lower-menu {
      display: none;
      background-color: #ccc; }
    left-nav #left-nav ul.lower-menu li {
      border-color: #ededed; }
    left-nav #left-nav .parent-item:hover .lower-menu {
      display: block; }

product-component, product-edit {
  float: left;
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 85%; }

.product-search,
.product-list,
.product-dashboard-panel,
.product-edit-header,
.product-edit-panel,
.dashboard-home-wrapper {
  background-color: #ededed;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
  display: inline-block; }

.product-edit-header button:last-child {
  margin-right: 5px; }

.product-edit-header button:first-child {
  background-color: #b5b5b5; }

.product-search h5 {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10px;
  margin-bottom: 10px; }

.product-search .filter-reset {
  width: 100%;
  text-align: right;
  display: inline-block;
  margin-top: 20px;
  cursor: pointer; }

.product-list {
  display: inline-block; }
  .product-list .product-table {
    display: inline-block;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    width: 100%; }
  .product-list .product-table .row > div {
    line-height: 67px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    display: table-cell;
    height: 67px;
    font-size: 11px;
    color: #666666;
    font-weight: 500;
    vertical-align: middle;
    overflow: hidden; }
  .product-list .product-table .product {
    border-top: 1px solid #ccc;
    margin-bottom: 10px;
    max-height: 91px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box; }
    .product-list .product-table .product button {
      margin-top: 18px;
      margin-left: auto;
      margin-right: auto;
      display: block; }
  .product-list .product img {
    max-height: 50px;
    display: block;
    margin: 0 auto;
    margin-top: 8px;
    margin-bottom: 8px; }
  .product-list .product-check {
    margin-top: 29px;
    cursor: pointer; }
  .product-list .product > div:not(:last-child), .product-list .product-table-header > div:not(:last-child) {
    border-right: 1px solid #dddddd; }

.product-edit-panel label {
  font-size: 13px;
  padding-top: 9px;
  font-weight: normal;
  text-align: right; }

.product-edit-panel textarea {
  height: 250px !important; }

.product-edit-panel input[type='checkbox'] {
  float: left;
  max-width: 30px;
  width: 100%;
  margin-top: 10px;
  cursor: pointer; }

.product-edit-panel .images-wrapper .add-image {
  background-size: contain; }

.product-edit-panel .images-wrapper .image {
  max-width: 200px;
  width: 100%;
  display: inline-block;
  padding: 20px;
  margin: 20px 10px;
  cursor: pointer;
  border: 1px solid #ededed;
  float: left;
  max-height: 200px;
  height: 100%; }
  .product-edit-panel .images-wrapper .image img {
    width: 100%; }

.product-edit-panel .images-wrapper .image:hover {
  background-color: #ededed; }

.product-edit-panel .tab-pane-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  min-height: 500px; }

.product-edit-panel .tab-pane {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 1000px;
  background-color: white;
  z-index: 10;
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: 10px;
  -moz-box-sizing: 10px;
  -ms-box-sizing: 10px;
  box-sizing: 10px; }

.product-edit-panel .tab-pane.active {
  z-index: 10; }

#categories .allocated-category, #categories .category {
  padding: 10px;
  background-color: #ededed;
  margin-right: 10px;
  border: 1px solid #b5b5b5;
  cursor: pointer;
  display: inline-block; }
  #categories .allocated-category .glyphicon, #categories .category .glyphicon {
    top: 3px;
    margin-left: 7px; }

#categories .allocated-category {
  background-color: #2a6496;
  color: #fff; }

#categories .categories-wrapper {
  display: inline-block;
  width: 100%;
  margin-top: 20px; }

tabs {
  width: 100%;
  height: 41px;
  background-color: #ededed;
  display: inline-block; }
  tabs .nav-tabs li a {
    cursor: pointer; }

file-upload {
  width: 100%;
  z-index: 40000;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%; }
  file-upload .file-gallery {
    display: inline-block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box; }
    file-upload .file-gallery .image {
      cursor: pointer;
      display: inline-block;
      float: left;
      max-width: 150px;
      height: 150px;
      width: 100%;
      padding: 7px;
      border: 1px solid #ededed;
      margin: 5px; }
      file-upload .file-gallery .image img {
        max-width: 150px;
        width: 100%; }
  file-upload .file-upload-wrapper {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
    position: relative;
    height: 400px;
    overflow: auto;
    padding: 20px;
    margin: 20px;
    background-color: #fff; }
  file-upload input[type='submit'], file-upload input[type='file'] {
    width: auto; }

.files-wrapper {
  padding: 10px; }
  .files-wrapper .close {
    cusror: pointer; }
  .files-wrapper .file {
    padding: 15px;
    color: #fff;
    background-color: #ededed;
    cursor: pointer; }
  .files-wrapper .removeFile {
    margin-left: 10px;
    border-left: 1px solid #000000; }
