* {
  margin:0;
  padding:0;
}

form {

}

ul {
  margin:0px;
  padding:0px;
  list-style-type: none;
}


//Mixins
@mixin box-sizing($boxSizing) {
  -webkit-box-sizing: $boxSizing;
  -moz-box-sizing: $boxSizing;
  -ms-box-sizing: $boxSizing;
  box-sizing: $boxSizing;
}

//Navbar
nav {
  width:100%;
  height:50px;
  background-color:red;
}

//Spinner
.spinner {
  width:100%;
  background-image:url('../img/default.gif');
  background-position: center;
  background-repeat:no-repeat;
  min-height:100px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  @include box-sizing(border-box);
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}



