@font-face {
  font-family: 'GillSans';
  src: url("../fonts/gillsans-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/gillsans-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gillsans-webfont.woff") format("woff"), url("../fonts/gillsans-webfont.ttf") format("truetype"), url("../fonts/gillsans-webfont.svg#svgFontName") format("svg"); }
* {
  margin: 0;
  padding: 0; }

li, a, p, span, button {
  font-family: "GillSans", sans-serif; }

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none; }

input, select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 18px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  width: 100%;
  border: none; }

button {
  background-color: #7D0622;
  padding: 10px;
  color: #fff !important;
  float: right;
  border: none;
  font-family: "GillSans", sans-serif !important; }
  button i {
    margin-right: 7px; }

.no-margin {
  margin: 0px !important; }

.initial-loading {
  max-width: 300px;
  margin-left: -150px;
  width: 100%;
  height: 200px;
  margin-top: -100px;
  line-height: 100px;
  top: 50%;
  position: absolute;
  left: 50%;
  text-align: center;
  font-size: 40px;
  font-family: "GillSans", sans-serif; }

.logo {
  display: block;
  margin: 40px auto; }

nav#top-bar {
  width: 100%;
  height: 40px;
  background-color: #ededed;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 40px; }
  nav#top-bar ul {
    display: inline-block;
    width: 100%; }
  nav#top-bar a {
    float: right; }

.form-group {
  display: inline-block;
  width: 100%; }

.spinner {
  width: 100%;
  background-image: url("../img/default.gif");
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100px; }

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.form-signin .form-control {
  position: relative;
  height: auto;
  font-size: 16px; }

#left-nav {
  background-color: #b00930;
  float: left;
  width: 100%; }
  #left-nav ul {
    width: 100%;
    display: inline-block; }
  #left-nav li {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid;
    border-color: #9a0000;
    cursor: pointer; }
  #left-nav li i {
    display: inline-block;
    width: 20px;
    margin-left: 10px;
    color: #fff;
    margin-top: 5px; }
  #left-nav li a {
    padding: 10px 20px 10px 10px;
    display: inline-block;
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box; }
  #left-nav ul li:first-child {
    border-top: 1px solid;
    border-color: #9a0000; }
  #left-nav li:hover {
    background-color: #9a0000; }
  #left-nav ul.lower-menu {
    display: none;
    background-color: #ccc; }
  #left-nav ul.lower-menu li {
    border-color: #ededed; }
  #left-nav .parent-item:hover .lower-menu {
    display: block; }

left-nav {
  float: left;
  width: 15%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block; }

product-component, product-edit {
  float: left;
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 85%; }

.product-search,
.product-list,
.product-dashboard-panel,
.product-edit-header,
.product-edit-panel {
  background-color: #ededed;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
  display: inline-block; }

.product-search h5 {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10px;
  margin-bottom: 10px; }
.product-search .filter-reset {
  width: 100%;
  text-align: right;
  display: inline-block;
  margin-top: 20px;
  cursor: pointer; }

.product-list {
  display: inline-block; }
  .product-list .product-table {
    display: inline-block;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc; }
  .product-list .product-table .row > div {
    line-height: 67px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    display: table-cell;
    height: 67px;
    font-size: 11px;
    color: #666666;
    font-weight: 500;
    vertical-align: middle;
    overflow: hidden; }
  .product-list .product-table .product {
    border-top: 1px solid #ccc;
    margin-bottom: 10px;
    max-height: 91px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box; }
  .product-list .product img {
    max-height: 50px;
    display: block;
    margin: 0 auto;
    margin-top: 8px;
    margin-bottom: 8px; }
  .product-list .product-check {
    margin-top: 29px;
    cursor: pointer; }
  .product-list .product > div:not(:last-child), .product-list .product-table-header > div:not(:last-child) {
    border-right: 1px solid #dddddd; }

.product-edit-panel label {
  font-size: 13px;
  padding-top: 9px;
  font-weight: normal;
  text-align: right; }
.product-edit-panel input[type='checkbox'] {
  float: left;
  max-width: 30px;
  width: 100%;
  margin-top: 10px;
  cursor: pointer; }
.product-edit-panel .images-wrapper img {
  max-width: 200px; }

tabs {
  width: 100%;
  height: 50px;
  background-color: #ededed;
  display: inline-block; }
  tabs .nav-tabs li a {
    cursor: pointer; }

/*# sourceMappingURL=styles.css.map */
