@font-face {
  font-family: 'GillSans';
  src: url('../fonts/gillsans-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/gillsans-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/gillsans-webfont.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/gillsans-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/gillsans-webfont.svg#svgFontName') format('svg');
}


//Mixins
@mixin box-sizing($boxSizing) {
  -webkit-box-sizing: $boxSizing;
  -moz-box-sizing: $boxSizing;
  -ms-box-sizing: $boxSizing;
  box-sizing: $boxSizing;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

//Color stack
$stdavids-purple: #b00930;
$stdavids-purple-dark: #9a0000;
$stdavidsRedDark: #7D0622;
$gray: #ededed;
$darkGray: #b5b5b5;

//Font stack
$gillSans: 'GillSans', sans-serif;

* {
  margin:0;
  padding:0;
}

li, a, p, span, button {
  font-family:$gillSans;
}

form {

}

.glyphicon {

}

ul {
  margin:0px;
  padding:0px;
  list-style-type: none;
}

input, select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 18px;
  @include border-radius(0px);
  width:100%;
  border:none;
}

button {
  background-color:$stdavidsRedDark;
  padding:10px;
  color:#fff!important;
  float:right;
  border:none;
  font-family:$gillSans!important;

  i {
    //margin-right:7px;
  }
}

.no-margin {
  margin:0px!important;
}

.initial-loading {
  max-width:300px;
  margin-left:-150px;
  width:100%;
  height:200px;
  margin-top:-100px;
  line-height:100px;
  top:50%;
  position:absolute;
  left:50%;
  text-align:center;
  font-size:40px;
  font-family:$gillSans;
}

.logo {
  display:block;
  margin:40px auto;
}

//Navbar
nav#top-bar {
  width:100%;
  height:40px;
  background-color:$gray;
  @include box-sizing(border-box);
  //padding:0 40px;

  ul {
    display:inline-block;
    width:100%;
  }

  li {

  }

  a {
    float:right;
    line-height:40px;
    height:40px;
    border-left:1px solid #e0e0e0;
    cursor:pointer;
    color:#848484;
    padding: 0px 14px;
  }

  a.logout {
    padding:0 30px 0 20px;
  }

  .notifications {
    margin-top:9px;
  }

  a.logout:hover {
    background-color:#ddd;
  }

  a.logout i {
    padding:0px 5px;
  }
}

.form-group {
  display:inline-block;
  width:100%;
}

//Spinner
.spinner {
  width:100%;
  background-image:url('../img/default.gif');
  background-position: center;
  background-repeat:no-repeat;
  min-height:100px;
  display:inline-block;
}

.login-logo-wrap {
  display:inline-block;
  background-color:$stdavids-purple;
  width:100%;
  min-height:200px;
  text-align:center;

  .login-logo {
    display:inline-block;
    width:100%;
    clear:both;

    img {
      display:block;
      margin:0 auto;
      background-color:$stdavids-purple;
      padding:20px;
    }
  }
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 20px auto;
  @include box-sizing(border-box);

  input[type="email"] {
    margin-bottom: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  input, button {
    clear:both;
    display:inline-block;
    width:100%;
  }

  button {
    background-color:$stdavids-purple;
  }

  button:hover, button:active, button:visited {
    background-color:$stdavids-purple;
  }

  .form-control {
    position: relative;
    height: auto;
    font-size: 16px;
  }

  h2 {
    font-size:14px;
  }
}

.dashboard-home-wrapper {
  float:left;
}

left-nav {
  float:left;
  width:15%;
  @include box-sizing(border-box);
  display:inline-block;

  #left-nav {
    background-color:$stdavids-purple;
    float:left;
    height:100%;
    width:100%;

    ul {
      width:100%;
      display:inline-block;
    }

    li {
      display:inline-block;
      width:100%;
      border-bottom:1px solid;
      border-color: $stdavids-purple-dark;
      cursor:pointer;
    }

    li i {
      display:inline-block;
      width:20px;
      margin-left:10px;
      color:#fff;
      margin-top:5px;
    }

    li a {
      padding:10px 20px 10px 10px;
      display:inline-block;
      color:#fff;
      font-size:13px;
      text-decoration:none;
      @include box-sizing(border-box);
    }

    ul li:first-child {
      border-top:1px solid;
      border-color: $stdavids-purple-dark;
    }

    li:hover {
      background-color:$stdavids-purple-dark;
    }

    ul.lower-menu {
      display:none;
      background-color:#ccc;
    }

    ul.lower-menu li {
      border-color: $gray;
    }

    .parent-item:hover .lower-menu {
      display:block;
    }
  }
}

product-component, product-edit {
  float:left;
  padding:15px;
  @include box-sizing(border-box);
  display:inline-block;
  width:85%;
}

.product-search,
.product-list,
.product-dashboard-panel,
.product-edit-header,
.product-edit-panel,
.dashboard-home-wrapper {
  background-color:#ededed;
  padding:20px;
  @include box-sizing(border-box);
  width:100%;
  margin-bottom:20px;
  display:inline-block;
}

.product-edit-header {
  button {

    i {

    }
  }

  button:last-child {
    margin-right:5px;
  }

  button:first-child {
    background-color:$darkGray;
  }
}

.product-dashboard-panel {
  button {

  }
}

.product-search {
  form {

  }

  h5 {
    border-bottom: 1px solid #dddddd;
    padding-bottom:10px;
    margin-bottom:10px;
  }

  h3 {

  }

  .filter-reset {
    width:100%;
    text-align:right;
    display:inline-block;
    margin-top:20px;
    cursor:pointer;
  }
}

.product-list {
  display:inline-block;

  .product-table {
    display:inline-block;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
    border-top:1px solid #ccc;
    width:100%;
  }

  .product-table .row > div {
    line-height:67px;
    @include box-sizing(border-box);
    display:table-cell;
    height:67px;
    font-size:11px;
    color:#666666;
    font-weight:500;
    vertical-align:middle;
    overflow:hidden;
  }

  .product-table .product {
    border-top:1px solid #ccc;
    margin-bottom:10px;
    max-height:91px;
    @include box-sizing(border-box);

    button {
      margin-top:18px;
      margin-left:auto;
      margin-right:auto;
      display:block;
    }
  }

  .product img {
    max-height:50px;
    display:block;
    margin:0 auto;
    margin-top:8px;
    margin-bottom:8px;
  }

  .product-check {
    margin-top:29px;
    cursor:pointer;
  }

  .product > div {

  }

  .product > div:not(:last-child), .product-table-header > div:not(:last-child){
    border-right:1px solid #dddddd;
  }
}

.product-edit-panel {
  label {
    font-size:13px;
    padding-top:9px;
    font-weight:normal;
    text-align:right;
  }

  textarea {
    height:250px!important;
  }

  input[type='checkbox'] {
    float:left;
    max-width:30px;
    width:100%;
    margin-top:10px;
    cursor:pointer;
  }

  .images-wrapper {
    .add-image {

      background-size: contain;
    }

    .image {
      max-width:200px;
      width:100%;
      display:inline-block;
      padding:20px;
      margin:20px 10px;
      cursor:pointer;
      border:1px solid $gray;
      float:left;
      max-height:200px;
      height:100%;
      img {
        width:100%;
      }
    }

    .image:hover {
      background-color:$gray;
    }
  }

  .tab-pane-wrapper {
    position:relative;
    display:inline-block;
    width:100%;
    min-height:500px;
  }

  .tab-pane {
    position:absolute;
    top:0px;
    left:0px;
    height:1000px;
    background-color:white;
    z-index:10;
    width:100%;
    padding:10px;
    @include box-sizing(10px);
  }

  .tab-pane.active {
    z-index:10;
  }
}

#categories {
  input {

  }
  .allocated-category, .category {
    padding:10px;
    background-color:$gray;
    margin-right:10px;
    border:1px solid $darkGray;
    cursor:pointer;
    display:inline-block;

    .glyphicon {
      top:3px;
      margin-left:7px;
    }
  }

  .allocated-category {
    background-color:#2a6496;
    color:#fff;
  }

  .categories-wrapper {
    display:inline-block;
    width:100%;
    margin-top:20px;
  }
}

tabs {
  width:100%;
  height:41px;
  background-color:$gray;
  display: inline-block;

  .nav-tabs {

  }

  .nav-tabs li {

  }

  .nav-tabs li a {
    cursor:pointer;
  }
}

file-upload {
  width:100%;
  z-index:40000;
  background:rgba(0, 0, 0, .5);
  position:fixed;
  top: 0px;
  left:0px;
  height:100%;

  .file-gallery {
    display:inline-block;
    width:100%;

    @include box-sizing(border-box);

    .image-file-wrap {
      cursor:pointer;
      display:inline-block;
      float:left;
      max-width:150px;
      height:150px;
      width:100%;
      position:relative;
      border:1px solid $gray;
      margin:5px;
      > a {
        cursor:pointer;
        display:inline-block;
        float:left;
        max-width:150px;
        height:150px;
        width:100%;
        background-size: cover;
        background-position: center;
        background-repeat:no-repeat;
        position:relative;
        text-decoration: none;
        overflow:hidden;
      }

      .selected {
        border:5px solid $stdavids-purple;
      }

      a:hover {
        background-color:$gray;
        opacity:0.5;
      }
      .image {
        padding:7px;
        position:relative;
        img {
          max-width:150px;
          width:100%;
          height:100%;
        }
        .image-details {
          overflow:hidden;
          top:0px;
          padding:5px;
          @include box-sizing(border-box);
          min-height:50px;
          background-color:#fff;
          z-index:200;
          position:absolute;
          width:100%;
          color:#000;
        }
      }
      .file {
        padding:7px;
        background-image:url('../img/very-basic-file-icon.png');
        @include box-sizing(border-box);
        .file-details {
          overflow:hidden;
          bottom:0px;
          padding:5px;
          @include box-sizing(border-box);
          min-height:50px;
          background-color:#fff;
          z-index:200;
          width:100%;
          color:#000;
        }
      }
    }

    .file-overlay {
      position:Absolute;
      left:0px;
      width:100%;
      bottom:0px;
      height:40px;
      background-color:$stdavids-purple;
      padding:7px;
      .button-wrap {
        float:right;
        margin-top:5px;
        a {
          color:#fff;
          margin-left:3px;
        }
      }

    }
  }

  .file-upload-wrapper {
    @include box-sizing(border-box);
    max-width:100%;
    position:relative;
    height:400px;
    overflow:auto;
    padding:20px;
    margin:20px;
    background-color:#fff;

    .close {
      position:fixed;
      top: 25px;
      right:50px;
      z-index:300;
    }
  }

  input[type='submit'], input[type='file'] {
    width:auto;

  }

  .file-form-wrap {
    display:inline-block;
    width:100%;
    margin-top:20px;
    margin-bottom:20px;
    @include box-sizing(border-box);
  }
}

.files-wrapper {
  padding:10px;
  .close {
    cursor:pointer;
  }
  .file {
    padding:15px;
    color:#fff;
    background-color:$gray;
    cursor:pointer;
    margin-left:7px;
    border:1px solid $darkGray;
    display:inline-block;
    text-decoration: none;
  }

  .file:hover {
    background-color:$darkGray;
  }

  .removeFile {
    margin-left:10px;
    border-left:1px solid #000000;
  }
}