<div class='file-upload-wrapper'>
    <a class='close' (click)='closeOverlay()'>close</a>
    <h3>Media Library</h3>
    <div class='file-gallery'>
        <div *ngIf='!filesLoaded' class='spinner'></div>
        <div class='image-file-wrap' *ngFor='let file of files'>
            <a *ngIf='file.type === "image"' [ngClass]="{ selected: file.assigned }" class='image' (mouseover)='mouseOverFile($event.target)'>
                <img src="{{file.url | APIUrl: 'image'}}" />
            </a>
            <a *ngIf='file.type === "file"' [ngClass]="{ selected: file.assigned }" class='file' (click)='selectFile(file)' (mouseover)='mouseOverFile($event)'>
               <div class='file-details'>{{ file.filename }}</div>
            </a>
            <div class='file-overlay'>
                <div class='button-wrap'>
                    <a (click)='selectFile(file)'>
                        <i *ngIf='file.assigned' class='glyphicon-ok glyphicon'></i>
                        <i *ngIf='!file.assigned' class='glyphicon-plus glyphicon'></i>
                    </a>
                    <a ng-href='file.url'><i class='glyphicon-open glyphicon'></i></a>
                    <a (click)='deleteFile()'><i class='glyphicon-remove glyphicon'></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class='file-form-wrap'>
        <div class='spinner' *ngIf='!fileUploaded'></div>
        <form enctype="multipart/form-data">
            <input type='file' (change)='fileChangeEvents($event)' placeholder='Upload file...' multiple accept="'image/*'" />
            <input type='submit' [disabled]='!fileUploaded' value='Upload' (click)='upload()' placeholder='Upload'/>
        </form>
    </div>
    <div class='form-group'>
        <button (click)='saveSelectedFiles()'>Select Files</button>
    </div>
</div>
