<div class='product-edit-header'>
    <button (click)='back()'><i class='glyphicon glyphicon-remove'></i></button>
    <button (click)='save()'><i class='glyphicon glyphicon-floppy-disk'></i></button>
</div>

<div class='product-edit-panel' *ngIf='product'>
    <h3>Edit Product</h3>
    <tabs [tabs]='tabs'></tabs>

    <div class='tab-pane-wrapper'>
        <div id='general' class='tab-pane active' *ngIf='selectedTab.linked == "general"'>
            <div class='form-group'>
                <label class='col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label'>
                    ID
                </label>
                <div class='col-xs-10 col-sm-10 col-md-10 col-lg-10'>
                    <input disabled type="text" [(ngModel)]="product.id" class="form-control">
                </div>
            </div>

            <div class='form-group'>
                <label class='col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label'>
                    Product Name
                </label>
                <div class='col-xs-10 col-sm-10 col-md-10 col-lg-10'>
                    <input required type="text" [(ngModel)]="product.title" placeholder="Product Name" class="form-control">
                </div>
            </div>

            <div class='form-group'>
                <label class='col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label'>
                    SKU
                </label>
                <div class='col-xs-10 col-sm-10 col-md-10 col-lg-10'>
                    <input type='text' [(ngModel)]="product.SKU" placeholder="SKU" class="form-control" />
                </div>
            </div>

            <div class='form-group'>
                <label class='col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label'>
                    Description
                </label>
                <div class='col-xs-10 col-sm-10 col-md-10 col-lg-10'>
                    <textarea [(ngModel)]="product.description" placeholder="Description" class="form-control"></textarea>
                </div>
            </div>

            <div class='form-group'>
                <label class='col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label'>
                    Active
                </label>
                <div class='col-xs-10 col-sm-10 col-md-10 col-lg-10'>
                    <input type='checkbox' [checked]='product.active' [(ngModel)]='product.active' placeholder="SKU" class="" />
                </div>
            </div>


            <div class='form-group'>
                <label class='col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label'>
                    Files
                </label>
                <div class='col-xs-10 col-sm-10 col-md-10 col-lg-10'>
                    <div *ngIf='product.downloads.length' class='files-wrapper'>
                        <a *ngFor='let file of product.downloads' class='file'>
                            <a href="{{ file.url | APIUrl: 'file' }}"><i class='glyphicon-file glyphicon'></i>{{ file.filename }}</a>
                        </a>

                    </div>

                    <a (click)='uploadOpen({ type: "product", options: product, fileType: "file"})'>Add files</a>
                </div>
            </div>
        </div>

        <div id='images' class='tab-pane' *ngIf='selectedTab.linked == "images"'>
            <div class='form-group'>
                <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
                    <div *ngIf='product.images.length' class='images-wrapper'>
                        <h3>Selected Images</h3>
                        <div class='image add-image' (click)='uploadOpen({ type: "product", "options": product, fileType: "image"})'>Add Images</div>
                        <div class='image' *ngFor='let image of product.images'>
                            <img src="{{image.url | APIUrl: 'image' }}" alt='{{image.name}}' />
                        </div>
                    </div>
                </div>
            </div>

            <div class='form-group'>
                <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
                    <h3>Upload Images</h3>
                </div>
            </div>
        </div>

        <div id='categories' class='tab-pane' *ngIf='selectedTab.linked == "categories"'>
            <div class='form-group'>
                <div class='categories-wrapper'>
                    <h3>Categories</h3>
                    <div *ngFor='let category of catsToShow' class='category' (click)='addCategory(category)'>
                        <a>{{category.name}}<i class='glyphicon glyphicon-plus'></i></a>
                    </div>
                </div>

                <div class='categories-wrapper'>
                    <h3>Current allocated categories</h3>
                    <a class='allocated-category' *ngFor='let category of allocatedCategories' (click)='removeCategory(category)'>{{category.name}}<i class='glyphicon glyphicon-remove'></i></a>
                </div>
            </div>
        </div>

        <div id='manufacturers' class='tab-pane' *ngIf='selectedTab.linked == "manufacturers"'>
            <label class='col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label'>
                Manufacturer
            </label>
            <div class='col-xs-10 col-sm-10 col-md-10 col-lg-10'>
                <select [(ngModel)]='product.manufacturer_id'>
                    <option *ngFor='let manufacturer of manufacturers' [value]='manufacturer.id'>{{manufacturer.name}}</option>
                </select>
            </div>
        </div>

        <div class='clear'></div>
    </div>
</div>

<div class='spinner' *ngIf='!product'></div>