<div class='product-list' *ngIf='products.length'>
    <h3>Products</h3>
    <div class='product-table'>
        <div class='row no-margin product-table-header'>
            <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1"></div>
            <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">ID</div>
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">Image</div>
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">Product Name</div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">Description</div>
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">SKU</div>
            <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1"></div>
        </div>
        <div class='product row no-margin' *ngFor="let product of products">
            <div class='col-xs-12 col-sm-1 col-md-1 col-lg-1'><input type='checkbox' class='product-check' /></div>
            <div class='col-xs-12 col-sm-1 col-md-1 col-lg-1'>{{ product.id }}</div>
            <div class='col-xs-12 col-sm-2 col-md-2 col-lg-2'><img src='{{ product.main_image }}' /></div>
            <div class='col-xs-12 col-sm-2 col-md-2 col-lg-2'>{{ product.title }}</div>
            <div class='col-xs-12 col-sm-3 col-md-3 col-lg-3'>{{ product.description }}</div>
            <div class='col-xs-12 col-sm-2 col-md-2 col-lg-2'>{{ product.sku }}</div>
            <div class='col-xs-12 col-sm-1 col-md-1 col-lg-1'><button [routerLink]="[product.id]"><i class='glyphicon glyphicon-pencil'></i></button></div>
        </div>
    </div>
</div>

<div class='product-list' *ngIf='!products.length'>
    No Products to show
</div>
