<div class='spinner' *ngIf='!loaded.categories || !loaded.manufacturers'></div>
<div class='product-search' *ngIf='loaded.categories && loaded.manufacturers'>
    <form>
        <div class='row'>
            <div class='col-lg-4 col-md-4 col-sm-12 col-xs-12'>
                <h3>Filter Products</h3>
            </div>
        </div>
        <div class='row'>
            <div class='col-lg-4 col-md-4 col-sm-12 col-xs-12'>
                <div class='searchbar-wrapper'>
                    <h5>Search</h5>
                    <input name='search' [(ngModel)]="productSearchPayload.searchTerm" (keyup)="filtersChange($event, 'searchTerm')" placeholder="search products"/>
                </div>
            </div>
            <div class='col-lg-4 col-md-4 col-sm-12 col-xs-12'>
                <ul class="categories">
                    <div class='searchbar-wrapper'>
                        <h5>Categories</h5>
                        <select name='categories' class='categories' #t (change)="filtersChange(t.value, 'category')">
                            <option value=''>-- please select --</option>
                            <option *ngFor='let category of categories' [value]="category.id" [ngValue]="category.id">{{category.name}}</option>
                        </select>
                    </div>
                </ul>
            </div>
            <div class='col-lg-4 col-md-4 col-sm-12 col-xs-12'>
                <div class='searchbar-wrapper'>
                    <h5>Manufacturer</h5>
                    <select name='manufacturers' class='manufacturers' #m (change)="filtersChange(m.value, 'manufacturer')">
                        <option value=''>-- please select --</option>
                        <option *ngFor='let manufacturer of manufacturers' [value]="manufacturer.id" [ngValue]="manufacturer.id">{{manufacturer.name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <a class='filter-reset' (click)="resetFilters()">+ reset filters</a>
    </form>
</div>

